
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  margin-top: 20px; /* Adjust as needed */
}


#outlined-multiline-static {
  width: 700px;
}

.to-copy {
  background-color: lightpink;
}

.clear {
  margin-top: 25px;
  margin-bottom: 25px;
}

.copy {
  margin-top: 25px;
}

.results {
  width: 300px;
}
